<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx      http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- 使用自动包扫描配置组件 -->
    <context:component-scan base-package="com.ftsafe.iccbd.webapp" />
    <!-- 使用注解配置 -->
    <context:annotation-config />
    <!-- 使用注解事务支持 -->
    <!--<tx:annotation-driven transaction-manager="transactionManager" />-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!-- applicationContext.xml文件用于进行一些通用的初始化。 每个不同的组件、模块自身有一个配置文件负责自身的初始化。 -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="${jdbc.driver}"></property> 
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.user}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <!-- 配置SessionFactory和扫描实体类所在的包 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!-- 自动扫描指定包下面的实体类别名 -->
        <property name="typeAliasesPackage" value="com.ftsafe.iccbd.webapp.bean" /> 

        <!-- 也可以直接指定类的别名来配置别名 -->
        <!--        <property name="typeAliases">
            <array>
                <value>org.fkjava.activiti.test.db.entity.OperationLog
                </value>
            </array>
        </property>-->
    </bean>
    <!-- 扫描映射文件和接口所在的包 -->
    <bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 扫描Mapper接口 -->
        <property name="basePackage" value="com.ftsafe.iccbd.webapp.dao" />
    </bean>
</beans>