<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="webapp" version="3.0">
	<display-name>webapp</display-name>
	<!-- 根上下文配置位置 -->
	<!-- 基于XML配置方式 -->
	<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/spring-applicationContext.xml</param-value>
    </context-param>
     <!-- 基于注解@方式 
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>com.ftsafe.iccbd.webapp.RootConfig</param-value>
	</context-param>
	-->
	
	
    <!-- 配置Spring ContextLoader监听 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!-- spring DispatcherServlet配置 -->
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/spring-dispatcherServletContext.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
    
    <!-- 配置struts过滤器 -->
    <!-- 
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    -->
    <!-- struts过滤映射 -->
    <!-- 
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
     -->
    <!-- 配置session期限 -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>